services:
    logistirio_proxy:
        image: nginx:1.21-alpine
        container_name: logistirio_proxy
        restart: unless-stopped
        volumes:
            - ./docker/proxy/${NGINX_FILE:-nginx.conf}:/etc/nginx/conf.d/default.conf
            - ./docker/proxy/ssl:/etc/ssl
        ports:
            - ${NGINX_PORT:-80}:80
            - ${NGINX_PORT_SSL:-443}:443
        depends_on:
            - logistirio_app
    logistirio_mysql:
        image: 'mysql/mysql-server:8.0'
        container_name: logistirio_mysql
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_ROOT_PASSWORD}'
            MYSQL_ROOT_HOST: "%"
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USER}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
        volumes:
            - 'mysql-logistirio:/var/lib/mysql'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
    logistirio_redis:
        image: redis:7
        container_name: logistirio_redis
        restart: unless-stopped
    logistirio_app:
        build:
            context: ./application
            dockerfile: docker/local/Dockerfile
            args:
                UID: ${UID:-1000}
        container_name: logistirio_app
        restart: unless-stopped
        environment:
            PHP_MAX_EXECUTION_TIME: '900'
            PHP_MEMORY_LIMIT: 2G
            PHP_POST_MAX_SIZE: 100M
            PHP_UPLOAD_MAX_FILESIZE: 100M
            WEB_DOCUMENT_INDEX: /application/public/index.php
            WEB_DOCUMENT_ROOT: /application/public
            php.max_input_vars: '5000'
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        volumes:
            - ./application:/application
            - ./application/docker/local/php.ini:/usr/local/etc/php/conf.d/dev.ini
        depends_on:
            - logistirio_mysql
            - logistirio_redis
networks:
    logistirio_default:
        external: true
volumes:
    mysql-logistirio:
        driver: local
    mssql-logistirio:
        driver: local
